.info {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	margin-top: 60px;
	margin-bottom: 60px;
}

.profile {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info p > span {
	width: 40px;
	display: inline-block;
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
