.box {
	display: flex;
	height: 90vh;
	flex-direction: column;
}

.name {
	padding: 40px 40px 48px 38px;
	font-size: 5rem;
	box-sizing: content-box;
	text-align: center;
	position: relative;
	border: 6px solid transparent;
	border-radius: 20px;
	margin-top: 250px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center; 
	flex-direction: column;
}

.text {
    cursor: pointer;
}