@view-transition {
    navigation: auto;
}

.poem-title {
    width: fit-content;
}

.poem-content {
    view-transition-class: poem-content-class;
    width: fit-content;
}

.heroHeading {
    view-transition-name: heading;
}

.heroDescription {
    view-transition-name: heroDescription;
}

::view-transition-group(*) {
    z-index: 10;
    animation-duration: 0.4s;
}

::view-transition-group(navBar) {
    z-index: 90;
}

@keyframes reveal {
    from {
        /* clip-path: inset(0 0 100% 0); */
        opacity: 0;
    }
    to {
        /* clip-path: inset(0); */
        opacity: 1;
    }
}

::view-transition-new(.poem-content-class) {
    z-index: 10;
    /* animation: reveal 300ms both; */
}

::view-transition-old(.poem-content-class) {
    z-index: 10;
    /* animation: hide 300ms both; */
    /* animation-delay: 100ms; */
}

@keyframes hide {
    from {
        /* clip-path: inset(0); */
        opacity: 1;
    }
    to {
        /* clip-path: inset(0 0 100% 0); */
        opacity: 0;
    }
}

::view-transition-group(.poem-content-class) {
    overflow: clip;
}

::view-transition-new(.poem-content-class),
::view-transition-old(.poem-content-class) {
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: clip;

    max-width: none;
    max-height: none;

    object-fit: none;
    object-position: top left;

    animation: none;
    mix-blend-mode: soft-light;
}

::view-transition-new(.poem-title-transition),
::view-transition-old(.poem-title-transition) {
    height: 100%;
    z-index: 10;
}

::view-transition-new(heading) {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-in;
}

::view-transition-old(heading) {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-out;
}

::view-transition-new(.poem-content-class):only-child {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-in;
}

::view-transition-old(.poem-content-class):only-child {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-out;
}

::view-transition-new(.poem-title-transition):only-child {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-in;
}

::view-transition-old(.poem-title-transition):only-child {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-out;
}

.slide-in-out {
    view-transition-name: custom-slide-in-out;
}

::view-transition-new(custom-slide-in-out) {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-in;
}

::view-transition-old(custom-slide-in-out) {
    z-index: 10;
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-out;
}

::view-transition-new(heroDescription) {
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-in;
    z-index: 10;
}

::view-transition-old(heroDescription) {
    animation: 300ms cubic-bezier(0.075, 0.82, 0.165, 1) both slide-out;
    z-index: 10;
}

@keyframes slide-in {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes slide-out {
    to {
        transform: translateY(20px);
        opacity: 0;
    }
}
