html {
    --poem-title-sm: 1.5rem;
    --poem-title-lg: 3rem;
}

@view-transition {
    navigation: auto;
}

.poem-title {
    width: fit-content;
}

::view-transition-group(*) {
    animation-duration: 0.8s;
}

::view-transition-new(poem-content-1),
::view-transition-old(poem-content-1) {
    height: auto;
    overflow: clip;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
}
