:root {
    --text: #6b6375;
    --text-h: #08060d;
    --border: #e5e4e7;
    --accent-dark-2xl: #002051;
    --accent-dark-xl: #1a3662;
    --accent-dark-l: #334d74;
    --accent-dark: #4d6385;
    --accent: #667997;
    --accent-light: #8090a8;
    --accent-light-l: #99a6b9;
    --accent-light-xl: #b3bccb;
    --accent-light-2xl: #ccd2dc;
    --accent-light-3xl: #e6e9ee;

    --text-description: darkgray;

    --bg: var(--accent-light-3xl);

    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    --max-content-width: 1200px;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background-color: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --border: #2e303a;

        --accent-dark-3xl: hsl(218, 100%, 2%);
        --accent-dark-2xl: hsl(218, 100%, 2.2%);
        --accent-dark-xl: hsl(218, 100%, 3%);
        --accent-dark-l: #000a18;
        --accent-dark: #000d20;
        --accent: #001029;
        --accent-light: #001331;
        --accent-light-l: #001639;
        --accent-light-xl: #001a41;
        --accent-light-2xl: #001d49;
        --accent-light-3xl: #002051;

        --text-description: gray;

        --bg: var(--accent-dark-2xl);

        --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }
}

#root,
html,
body {
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
}

h1 {
    font-size: 56px;
    letter-spacing: -1.68px;
    margin: 32px 0;
    @media (max-width: 1024px) {
        font-size: 36px;
        margin: 20px 0;
    }
}
h2 {
    font-size: 24px;
    line-height: 118%;
    letter-spacing: -0.24px;
    margin: 0 0 8px;
    @media (max-width: 1024px) {
        font-size: 20px;
    }
}

main {
    max-width: var(--max-content-width);
}
